body {
  padding: 1%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #cdd;
  font-size: 1.3em;
}

#root {
  max-width: 1000px;
  margin: auto;
  padding: 2%;
  border-radius: 10px;
  background: #eef;
}

p {
  padding: 1%;
  color: black;
  text-shadow: 0 0 2px white, 0 0 2px black;
  border-radius: 10px;
}